@import 'tailwindcss';

:root {
  --red: #fd8888;
  --blue: #7387fd;
  --cell-highlight-red: #fee2e2;
  --cell-highlight-blue: #dbeafe;
  --cell-highlight-yellow: #ffffc0;
}

body {
  color: #383838;
  background: linear-gradient(135deg, #000000 0%, #0a1e2e 40%, #1f3b61 100%);
}

@theme {
  --color-blue: var(--blue);
  --color-red: var(--red);
}
